<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Servlet 3.0 Web Application</display-name>
	<jsp-config>
		<taglib>
			<taglib-uri>paginationLib</taglib-uri>
			<taglib-location>/WEB-INF/pagination.tld</taglib-location>
		</taglib>
	</jsp-config>
<!-- 	<servlet>
		<description>
		</description>
		<display-name>NewComputerServlet</display-name>
		<servlet-name>NewComputerServlet</servlet-name>
		<servlet-class>com.excilys.cdb.servlets.NewComputerView</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateComputerServlet</display-name>
		<servlet-name>CreateComputerServlet</servlet-name>
		<servlet-class>com.excilys.cdb.servlets.ComputerCreation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteComputerServlet</display-name>
		<servlet-name>DeleteComputerServlet</servlet-name>
		<servlet-class>com.excilys.cdb.servlets.ComputerDeletion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewComputerView</servlet-name>
		<url-pattern>/NewComputerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComputerCreation</servlet-name>
		<url-pattern>/CreateComputerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComputerDeletion</servlet-name>
		<url-pattern>/DeleteComputerServlet</url-pattern>
	</servlet-mapping> -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<display-name>computer-database</display-name>


	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/errors/403.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/errors/403.html</location>
	</error-page>
	<error-page>
	  <error-code>404</error-code>
	  <location>/WEB-INF/views/errors/404.html</location>
	</error-page> 
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/errors/500.html</location>
	</error-page>

</web-app>